@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, a, p {
    font-family: 'Work Sans', sans-serif;
    color: #151C22;
}

/* #region header */

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;

    margin: 0.75rem 3.75rem;
    padding: 0;
}

.navigation-section {
    display: flex;
}

.navigation-list {
    display: flex;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list a {
    text-decoration: none;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bolder;    
}

.header-icon {
    width: 1.125rem;
    height: 1.125rem;
}

/* #endregion */

/* #region main */

.main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* #region hero */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    background-color: #F1F2F4;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.hero-subtitle {
    font-size: 1.125rem;
    color: #727A82;
}

.hero-title {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin: 1rem 0 2rem 0;
}

.hero-button {
    display: inline-block;
    background-color: #151C22;
    color: white;
    text-transform: none;
    padding: 1.2rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s;
}

.hero-image-container {
  position: relative;
  display: inline-block;
  padding: 40px;
}

.hero-image {
  display: block;
  position: relative;
  z-index: 2;
}

.lines-top,
.lines-bottom {
  position: absolute;
  z-index: 1;
  width: 11rem;
}

.lines-top {
  top: 0;
  left: 0;
}

.lines-bottom {
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}

.hero-image {
    width: auto;
    height: 26.875rem;
}

/* #endregion */

/* #region Bestsellers */

.bestsellers {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0 8rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2rem;
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
}

.view-all-link {
    font-size: 1.125rem;
    text-decoration: none;
}

.view-all-link {
    font-size: 1.125rem;
    color: #151C22;
    text-decoration: none;
    font-weight: 500;
    
    position: relative; 
    border-bottom: none; 
}

.view-all-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    
    left: -5px;
    right: -5px;
    
    height: 2px;
    background-color: #151C22;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    display: block;
}

.card-image {
    width: 100%;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 0 0.25rem 0;
}

.card-price {
    font-weight: bold;
}

/* #endregion */

/* #region news */

.news {
    display: flex;
    flex-direction: column;

    margin: 0 8rem;
}

.news-article {
    position: relative;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.news-content-container {
    display: flow-root;
    background-image: url('../img/lines2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-content {
  position: relative;
  background-color: #F1F2F4;
  padding: 2rem;
  margin: 2rem 2rem 2rem 0;
}

.news-image {
    width: 37rem;
    height: auto;
    object-fit: cover;
}

.news-content {
    background-color: #F1F2F4;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.news-article-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.news-article-date {
    font-size: 1.125rem;
    color: black;
}

.news-article-text {
    font-size: 1.125rem;
    color: #727A82;
}

.read-more-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #151C22;
    padding: 1rem 2rem;
}
/* #endregion */

/* #region shop by caregory */

.shop-categories-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0 8rem;
    margin-bottom: 6rem;
}

/* #endregion */

/* #endregion */

/* #region footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    padding: 3rem;
    background-color: #151C22;
}

.footer .navigation-section {
    position: static;
    justify-content: center;
}

.footer-title {
    color: white;
    font-size: 1.5rem;
}

.footer .navigation-list a {
    color: white;
    font-size: 1.125rem;
}

/* #endregion */