@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, a, p {
    font-family: 'Work Sans', sans-serif;
    color: #151C22;
    text-decoration: none;
}

/* #region header */

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;

    margin: 1.5rem 6.2rem;
    padding: 0;
}

.navigation-section {
    display: flex;
}

.navigation-list {
    display: flex;
    gap: 2rem;

    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bolder;    
}

.header-icon {
    width: 1.125rem;
    height: 1.125rem;
}

/* #endregion */

/* #region main */

.main {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

/* #region hero */

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background-color: #F1F2F4;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.hero-subtitle {
    font-size: 1.125rem;
    color: #727A82;
}

.hero-title {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin: 1rem 0 2rem 0;
}

.hero-button {
    display: inline-block;
    background-color: #151C22;
    color: white;
    text-transform: none;
    padding: 1.2rem 3rem;
    font-size: 1rem;
    font-weight: 700;
}

.hero-image-container {
  position: relative;
  display: inline-block;
  padding: 40px;
}

.hero-image {
  display: block;
  position: relative;
  z-index: 2;
}

.lines-top,
.lines-bottom {
  position: absolute;
  z-index: 1;
  width: 11rem;
}

.lines-top {
  top: 0;
  left: 0;
}

.lines-bottom {
  bottom: 0;
  right: 0;
  transform: scaleX(-1);
}

.hero-image {
    width: auto;
    height: 32rem;
}

/* #endregion */

/* #region Bestsellers */

.bestsellers {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0 8rem;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2rem;
}

.section-header {
    font-size: 2rem;
    font-weight: bold;
}

.view-all-link {
    font-size: 1.125rem;
}

.view-all-link {
    font-size: 1.125rem;
    color: #151C22;
    font-weight: 500;
    
    position: relative; 
    border-bottom: none; 
}

.view-all-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    
    left: -5px;
    right: -5px;
    
    height: 2px;
    background-color: #151C22;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    display: block;
}

.card-image {
    width: 100%;
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0 0 0.25rem 0;
}

.card-price {
    font-weight: bold;
}

/* #endregion */

/* #region news */

.news {
    display: flex;
    flex-direction: column;

    margin: 0 8rem;
}

.news-article {
    position: relative;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.news-content-container {
    display: flow-root;
    background-image: url('../img/lines2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-content {
  position: relative;
  background-color: #F1F2F4;
  padding: 2rem;
  margin: 2rem 2rem 2rem 0;
}

.news-image {
    width: 37rem;
    height: auto;
    object-fit: cover;
}

.news-content {
    background-color: #F1F2F4;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.news-article-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.news-article-date {
    font-size: 1.125rem;
    color: black;
}

.news-article-text {
    font-size: 1.125rem;
    color: #727A82;
}

.read-more-link {
    color: white;
    font-weight: bold;
    background-color: #151C22;
    padding: 1rem 2rem;
}
/* #endregion */

/* #region shop by caregory */

.shop-categories-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    margin: 0 8rem;
    margin-bottom: 6rem;
}

/* #endregion */

/* #endregion */

/* #region footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    padding: 3rem;
    background-color: #151C22;
}

.footer .navigation-section {
    position: static;
    justify-content: center;
}

.footer-title {
    color: white;
    font-size: 1.5rem;
}

.footer .navigation-list a {
    color: white;
    font-size: 1.125rem;
}

/* #endregion */



/* #region catalog */

/* #region catalog header */

.catalog-header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
    background-color: #F1F2F4;
}

.catalog-header-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.catalog-breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.breadcrumb-item, .separator-mark {
    font-size: 1.125rem;
    color: #727A82;
}

.breadcrumb-item.active {
    color: #151C22;
    font-weight: 600;
}

.catalog-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
    color: #151C22;
    margin: 0;
}

.catalog-image-container {
    position: relative;
    padding: 0 2.5rem;
}

.catalog-image {
    position: relative;
    z-index: 2;
    display: block;
    width: 300px;
    height: auto;
}

.lines-top-catalog, .lines-bottom-catalog {
    position: absolute;
    z-index: 1;
}

.lines-top-catalog {
    top: 0;
    right: 0;
    width: 14.5rem;
    height: auto;
}

.lines-bottom-catalog {
    bottom: 0;
    left: 0;
    width: 11.125rem;
    height: auto;
}

/* #endregion */

/* #region catalog products */

.catalog-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 6rem;
}

.catalog-products-section {
    margin: 0 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filter-header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.custom-select {
    grid-column: 4 / 4;
    position: relative;
    display: inline-block;
    max-width: 15rem;
}

.custom-select select {
  width: 100%;
  padding: 12px 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #1a1e23;
  
  border: 1.5px solid #1a1e23;
  background-color: white;
  cursor: pointer;
  appearance: none;
}

.custom-select::after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  
  width: 10px;
  height: 10px;
  border-right: 2px solid #1a1e23;
  border-bottom: 2px solid #1a1e23;
  
  transform: translateY(-70%) rotate(45deg);
  pointer-events: none;
}

.catalog-grid {
    gap: 3rem;
}

.catalog-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.showing-text {
    position: relative;
    font-size: 1.125rem;
    color: #151C22;
}

.load-more-btn {
    background-color: #151C22;
    color: white;
    border: none;
    padding: 1.25rem 4rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: opacity 0.3s;
}

.progress-bar-container {
    width: 150px;
    height: 2px;
    background-color: #E5E5E5;
    margin-top: -1.5rem;
}

.progress-bar-fill {
    width: 20%;
    height: 100%;
    background-color: #151C22;
}

/* #endregion */

/* #endregion */

/* product page */

/* #region Product Page */

.product-page {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin: 3rem 0 0 0;
}

.product-images {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-image-container {
    display: flex;
    flex-direction: row;
    margin-left: 0.7rem;
}

.nav-arrow {
    background: none;
    border: none;
    font-size: 2rem;
    margin: 0 5rem;
}

.product-sub-images {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;
}

.product-thumbnail {
    width: calc(23rem / 4);
    height: auto;
}

.product-details {
    grid-column: 2 / 2;
    background-color: #F1F2F4;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 5rem 3rem 5rem;
}

.product-main-image {
    width: calc((23rem / 4) * 4 + 3 * 0.5rem);
    height: auto;
}

.product-name {
    font-size: 2rem;
}

.product-description {
    padding-right: 6rem;
}

.product-colors {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.product-colors h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.colors {
    display: flex;
    gap: 1rem;
}

.color {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #D1D5DB;
}

.color.green { background-color: #B0C3C7; }
.color.blue  { background-color: #3B6392; }
.color.gray  { background-color: #BFC3C8; }

.color.active {
    outline: 2px solid #B0C3C7;
    outline-offset: 3px;
}

.product-sizes {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.product-sizes h3 {
    font-size: 1.125rem;
    font-weight: 500;
}

.sizes {
    display: flex;
    gap: 1rem;
}

.size {
    font-size: 1.125rem;
    color: #727A82;
    cursor: pointer;
}

.size.active {
    color: #151C22;
}

.product-price {
    font-size: 1.125rem;
    font-weight: bold;
}

.add-to-cart-button {
    background-color: #151C22;
    color: white;
    border: none;
    padding: 1.25rem 4rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
}


/* #endregion */

/* #endregion */